# Environnement du projet Backend

DATABASE_REMOTE_URL=
DATABASE_LOCAL_URL=
CURRENT_ENV='LOCAL' # Mettre une autre valeur pour passez en remote
PUBLIC_APP_FRONT_BASE_URL=
PORT=
JWT_SECRET=
COOKIE_SECRET=
GOOGLE_DRIVE_KEY_FILE=/path/to/service-account-key.json
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_CLIENT_EMAIL=
GOOGLE_DRIVE_PRIVATE_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_REDIRECT_URI=
NODE_ENV=